.products{
    margin: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.card{
    border: 4px double darkslateblue;
    border-radius: 15px;
    background: linear-gradient(197deg, #8279c2 0%, #fff 100%);
    width: 200px;
    height: 80%;
    overflow: hidden;
    padding: 10px;
    margin: 20px 10px;
    

}

.product-image{
    width: 100%;
    max-width: 170px;
    min-height: 200px;
    display: block;
    padding-right: 5px;
    margin-left: 7px;

}

.product-name{
    text-transform: uppercase;
    margin: 10px 0px;
    text-justify: center;

}
.product-price{
    margin: 10px 0px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

}
.product-add-button{
    font-weight: 700;
    font-size: 12px;
    outline: none;
    background-color: darkslateblue;
    border-radius: 15px;
    color: white;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
    display : flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-add-button:hover{
    background-color: rgb(61, 4, 107);
}
.product-add-button:active{
    transform: translateY(2px);
}
