.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: darkslateblue;
    color: white;
    
  }
  

  .notif{
    margin: 3px;
    font-size: 14px;
    font-weight: 700;
  }
  
  .nav-links a {
    color: darkslateblue;
    background-color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    
  }
  
  .nav-links li {
    list-style: none;
    font-style: darkslateblue;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: white;
    color: darkslateblue;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
    color: darkslateblue;
  }
  .icon-conf:hover {
    font-style: darkslateblue;
    color: darkslateblue;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative;
  }
  

  
  .dropdown li:hover {
    background-color: white;
    color: darkslateblue;
  }
  
  .services:hover .dropdown {
    display: block;
  }
  
  /*RESPONSIVE NAVBAR MENU STARTS*/
  /* CHECKBOX HACK */
  input[type="checkbox"] {
    display: none;
  }
  
  /*HAMBURGER MENU*/
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      border-radius: 15px;
      background-color: darkslateblue;
      color: darkslateblue;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color: white;
      color: darkslateblue;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: white;
    }
  }